<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toad.sample.mybatis.automapper.mapper.BankCardMapper">
  <resultMap id="BaseResultMap" type="com.toad.sample.mybatis.automapper.entity.BankCard">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="signup_date" jdbcType="VARCHAR" property="signupDate" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="parent_bank_card_no" jdbcType="VARCHAR" property="parentBankCardNo" />
    <result column="bank_type" jdbcType="INTEGER" property="bankType" />
    <result column="card_type" jdbcType="VARCHAR" property="cardType" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
    <result column="current_month" jdbcType="VARCHAR" property="currentMonth" />
    <result column="house_holder" jdbcType="VARCHAR" property="houseHolder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="bill_day" jdbcType="VARCHAR" property="billDay" />
  </resultMap>
</mapper>